<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Restaurant Reservation System
</h1>
<br>
<h2 class="subtitle">
    <form action="/" method="get">
        <label for="party_size">Party Size: </label>
        <input type="number" id="party_size" name="party_size" style="width: 8ch;" required="required"
               value="{{args.party_size}}"><br><br>
        <label for="hours">Duration (hh:mm): </label>
        <input type="number" id="hours" name="hours" style="width: 5ch;" required="required" value="{{args.hours}}"> :
        <input type="number" id="minutes" name="minutes" style="width: 5ch;" required="required"
               value="{{args.minutes}}"><br><br>
        <input type="submit" value="Find Restaurants">
    </form>
    <br>
    {% if tables %}
    <table>
        <thead>
        <tr>
        <tr>
            {% for key, value in tables[0].items() %}
            <td> {{ key }}</td>
            {% endfor %}
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for table in tables %}
        <tr>
            {% for key, value in table.items() %}
            <td> {{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    No tables found
    {% endif %}
</h2>

{% endblock %}